<!DOCTYPE html>

<html>

<head>
<!--    putting style here because renders from different sources cause it to break sometimes-->
    <style>
        .label {
            text-align: right
        }

        .error {
            color: red
        }
    </style>
    
    <title>Welcome</title>
</head>

<body>
    <div class="error">
        {{session_error}}
    </div>
    {% if username %}
        Welcome {{username}}!<br>
            <a href="/logout">Logout</a><br>
            <p>
            <ul>
                <li>
                    <a href="/u/{{username}}">View Your Posts</a>
                </li>
                <li>
                    <a href="/newpost">Create a New Post</a>
                </li>

            </ul>
    {% else %}
        Welcome!
            <p>
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/signup">Create a New Account</a>
                </li>

            </ul>
    {% endif %}
    
    {% if posts %}
        <h1>Most recent posts:</h1>
            {% for post in posts %}
                <h2>{{post["title"]}}</h2> by <a href="/u/{{post['author']}}">{{post["author"]}}</a> on <a href="/p/{{post['_id']}}">{{post["date"]}}</a><br>
                {% if post["edited"] %}
                    Last edited on {{post["editDate"]}}
                {% endif %}
                <br>
                <textarea readonly name="body" cols="100" rows="20">{{post["body"]}}</textarea>
                <br>
                Tags: 
                {% for tag in post["tags"] %} 
                    <a href="/t/{{tag}}">{{tag}}</a>{%- if not loop.last %},{% endif %}
                {% endfor %}
                <br>
                {% if username == post["author"] %}
                    User Actions:
                        <a href="/p/edit/{{post['_id']}}">Edit Post</a> | <a href="/p/del/{{post['_id']}}">Delete Post</a>
                {% endif %}
            {% endfor %}
    {% endif %}
</body>

</html>