<!DOCTYPE html>

<html>

<head>
    {%if userExists == True %}
    <title>posts by {{username}}</title>
    {% else %}
    <title>There's nothing here...</title>
    {% endif %}
</head>

<body>
    
    {% if userExists == False %}
        That user doesn't exist.
    {% elif posts != None %}
        {{username}}'s most recent posts:
            <p>
            {% for post in myposts %}
            {% endfor %}
    {% else %}
        {{username}} hasn't posted anything yet.
            <p>
            <ul>
            </ul>
    {% endif %}
</body>

</html>