<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/default.css">
    {%if userExists %}
    <title>Posts by {{requestedUser}}</title>
    {% else %}
    <title>There's nothing here...</title>
    {% endif %}
</head>

<body>
    {% if username %}
        Currently signed in as: {{username}}<br>
        <a href="/logout">Logout</a> | <a href="/">Blog Home</a><br>
        <br>
    {% else %}
        You are not currently signed in.<br>
        <a href="/login">Login</a> | <a href="/">Blog Home</a><br>
        <br>
    {% endif %}
    
    {% if posts %}
        Most recent posts under the tag "{{tag}}":<br>
            {% for post in posts %}
                <h2>{{post["title"]}}</h2> by <a href="/u/{{post['author']}}">{{post["author"]}}</a> on <a href="/p/{{post['_id']}}">{{post["date"]}}</a>
                <br>
                <textarea readonly name="body" cols="120" rows="20">{{post["body"]}}</textarea>
                <br>
                Tags: 
                {% for tag in post["tags"] %} 
                    <a href="/t/{{tag}}">{{tag}}</a>{%- if not loop.last %},{% endif %}
                {% endfor %}
                <br>
                <br>
            {% endfor %}
    {% else %}
        There are no posts under the tag "{{tag}}" yet.
            <p>
    {% endif %}
</body>

</html>